@model CLTWebUI.Models.Match.MatchViewModel



<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("Add", "Match"))
        {
            <h2>@Model.fixture.Groups.Competitions.Name - skupina @Model.fixture.Groups.Name - @Model.fixture.Round . kolo</h2>
            <h3>@Model.fixture.Teams.Name vs @Model.fixture.Teams1.Name</h3>
            <div class="form-group">
                @Html.LabelFor(m => m.matchDate)
                <input class="form-control" type="date" name="matchDate" value="@DateTime.Today.ToString("yyyy-MM-dd")"/><br />
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4"><h4>@Model.fixture.Teams.Name</h4></div>
                    <div class="col-md-4"><h4>@Model.fixture.Teams1.Name</h4></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><b>Skóre</b></div>
                    <div class="col-md-4">@Html.TextBoxFor(m => m.score1, new { @Class = "form-control" })</div>
                    <div class="col-md-4">@Html.TextBoxFor(m => m.score2, new { @Class = "form-control" })</div>
                </div>
                <div class="row">
                    <div class="col-md-2"><b>Gate</b></div>
                    <div class="col-md-4">@Html.TextBoxFor(m => m.gate1, new { @Class = "form-control" })</div>
                    <div class="col-md-4">@Html.TextBoxFor(m => m.gate2, new { @Class = "form-control" })</div>
                </div>
                <div class="row">
                    <div class="col-md-2"><b>Fame</b></div>
                    <div class="col-md-4">@Html.TextBoxFor(m => m.fame1, new { @Class = "form-control" })</div>
                    <div class="col-md-4">@Html.TextBoxFor(m => m.fame2, new { @Class = "form-control" })</div>
                </div>
                <div class="row">
                    <div class="col-md-2"><b>Winning</b></div>
                    <div class="col-md-4">@Html.TextBoxFor(m => m.winning1, new { @Class = "form-control" })</div>
                    <div class="col-md-4">@Html.TextBoxFor(m => m.winning2, new { @Class = "form-control" })</div>
                </div>
                <div class="row">
                    <div class="col-md-2"><b>Fan factor</b></div>
                    <div class="col-md-4">@Html.TextBoxFor(m => m.fanfactor1, new { @Class = "form-control" })</div>
                    <div class="col-md-4">@Html.TextBoxFor(m => m.fanfactor2, new { @Class = "form-control" })</div>
                </div>
                <div class="row">
                    <div class="col-md-2"><b>MVP</b></div>
                    <div class="col-md-4">@Html.DropDownListFor(m => m.mvp1, Model.players1, new { @Class = "form-control" })</div>
                    <div class="col-md-4">@Html.DropDownListFor(m => m.mvp2, Model.players2, new { @Class = "form-control" })</div>
                </div>
                <div class="row">
                    <div class="col-md-2"><b>Inducements</b></div>
                    <div class="col-md-4">@Html.ListBoxFor(m => m.selectedInducements1, Model.inducements, new { @Class = "form-control" })</div>
                    <div class="col-md-4">@Html.ListBoxFor(m => m.selectedInducements2, Model.inducements, new { @Class = "form-control" })</div>
                </div>
                <div class="row">
                    <div class="col-md-2"><b>Star players</b></div>
                    <div class="col-md-4">@Html.ListBoxFor(m => m.selectedStarplayers1, Model.starplayers, new { @Class = "form-control" })</div>
                    <div class="col-md-4">@Html.ListBoxFor(m => m.selectedStarplayers2, Model.starplayers, new { @Class = "form-control" })</div>
                </div>
                <div id="events">
                    @{ ViewBag.evcnt = 0; }
                    @if (Model.events != null && Model.events.Count > 0)
                    {
                        foreach (var evnt in Model.events)
                        {
                            if (evnt.sourcePlayerTeam == Model.fixture.Team1)
                            {
                                ViewBag.sourceTeam = Model.players1;
                                ViewBag.targetTeam = Model.players2;
                            }
                            else
                            {
                                ViewBag.sourceTeam = Model.players2;
                                ViewBag.targetTeam = Model.players1;
                            }
                            if (evnt.type == CLT.Data.MatchEventsTypes.Casualty)
                            {

                                <div id="event_@ViewBag.evcnt">
                                    <h5>
                                        Událost č.@ViewBag.evcnt - Casualty (@if (evnt.sourcePlayerTeam == Model.fixture.Team1)
                                        {<span>@Model.fixture.Teams.Name</span>}
                                        else {<span>@Model.fixture.Teams1.Name</span>}) <a href="#" onclick="cancelEvent(@ViewBag.evcnt)"><span class="glyphicon glyphicon-remove" title="Zrušit event"></span></a>
                                    </h5>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="spselect_events_@ViewBag.evcnt">Kdo blokoval</label>
                                                <select id="spselect_events_@ViewBag.evcnt" class="form-control" name="events[@ViewBag.evcnt].sourcePlayer">
                                                    @foreach (var player in ViewBag.sourceTeam)
                                                    {
                                                        <option value="@player.Value" @if (player.Value == evnt.sourcePlayer.ToString()) { @Html.Raw("selected"); }>@player.Text</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="tpselect_events_@ViewBag.evcnt">Kdo byl zraněn</label>
                                                <select id="tpselect_events_@ViewBag.evcnt" class="form-control" name="events[@ViewBag.evcnt].targetPlayer">
                                                    @foreach (var player2 in ViewBag.targetTeam)
                                                    {
                                                        <option value="@player2.Value" @if (player2.Value == evnt.targetPlayer.ToString()) { @Html.Raw("selected"); }>@player2.Text</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="resselect_events_@ViewBag.evcnt">Hod na zranění</label>
                                                <select id="resselect_events_@ViewBag.evcnt" class="form-control" name="events[@ViewBag.evcnt].result">
                                                    @foreach (var result in CLTWebUI.Models.Match.MatchEventModel.CasualtyResult)
                                                    {
                                                        <option value="@result.Key" @if (result.Key == evnt.result) { @Html.Raw("selected"); }>@result.Value</option>
                                                    }
                                                </select>
                                                <input type="hidden" name="events[@ViewBag.evcnt].eventNo" value="@Model.events[ViewBag.evcnt].eventNo" />
                                                <input type="hidden" name="events[@ViewBag.evcnt].type" value="@Model.events[ViewBag.evcnt].type" />
                                                <input type="hidden" name="events[@ViewBag.evcnt].sourcePlayerTeam" value="@Model.events[ViewBag.evcnt].sourcePlayerTeam" />
                                                <input type="hidden" name="events[@ViewBag.evcnt].targetPlayerTeam" value="@Model.events[ViewBag.evcnt].targetPlayerTeam" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            if (evnt.type == CLT.Data.MatchEventsTypes.Completion
                                || evnt.type == CLT.Data.MatchEventsTypes.Interception
                                || evnt.type == CLT.Data.MatchEventsTypes.Touchdown)
                            {
                                <div id="event_@ViewBag.evcnt">
                                    <h5>
                                        Událost č.@ViewBag.evcnt - 
                                        @if (evnt.type == CLT.Data.MatchEventsTypes.Completion) { <span>Completion (přihrávka)</span>} 
                                        @if (evnt.type == CLT.Data.MatchEventsTypes.Interception){ <span>Interception</span>}
                                        @if (evnt.type == CLT.Data.MatchEventsTypes.Touchdown){ <span>Touchdown</span>}
                                        (@if (Model.events[ViewBag.evcnt].sourcePlayerTeam == Model.fixture.Team1)
                                        {<span>@Model.fixture.Teams.Name</span>}
                                        else {<span>@Model.fixture.Teams1.Name</span>}) <a href="#" onclick="cancelEvent(@ViewBag.evcnt)"><span class="glyphicon glyphicon-remove" title="Zrušit event"></span></a>
                                    </h5>
                                    <div class="form-group">
                                        <label for="spselect_events_@ViewBag.evcnt">
                                            @if (evnt.type == CLT.Data.MatchEventsTypes.Completion)
                                            { <span>Kdo přihrál</span>}
                                            @if (evnt.type == CLT.Data.MatchEventsTypes.Interception)
                                            { <span>Kdo zachytil</span>}
                                            @if (evnt.type == CLT.Data.MatchEventsTypes.Touchdown)
                                            { <span>Kdo skóroval</span>}
                                        </label>
                                        <select id="spselect_events_@ViewBag.evcnt" class="form-control" name="events[@ViewBag.evcnt].sourcePlayer">
                                            @foreach (var player in ViewBag.sourceTeam)
                                            {
                                                <option value="@player.Value"@if (player.Value == evnt.sourcePlayer.ToString()) { @Html.Raw("selected"); }>@player.Text</option>
                                            }
                                        </select>
                                        <input type="hidden" name="events[@ViewBag.evcnt].eventNo" value="@Model.events[ViewBag.evcnt].eventNo" />
                                        <input type="hidden" name="events[@ViewBag.evcnt].type" value="@Model.events[ViewBag.evcnt].type" />
                                        <input type="hidden" name="events[@ViewBag.evcnt].sourcePlayerTeam" value="@Model.events[ViewBag.evcnt].sourcePlayerTeam" />
                                    </div>
                                </div>
                            }
                            if (evnt.type == CLT.Data.MatchEventsTypes.Injury)
                            {
                                <div id="event_@ViewBag.evcnt">
                                    <h5>
                                        Událost č.@ViewBag.evcnt - Zranění (@if (Model.events[ViewBag.evcnt].sourcePlayerTeam == Model.fixture.Team1)
                                        {<span>@Model.fixture.Teams.Name</span>}
                                        else {<span>@Model.fixture.Teams1.Name</span>}) <a href="#" onclick="cancelEvent(@ViewBag.evcnt)"><span class="glyphicon glyphicon-remove" title="Zrušit event"></span></a>
                                    </h5>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4">

                                                <label for="spselect_events_@ViewBag.evcnt">Kdo se zranil</label>
                                                <select id="spselect_events_@ViewBag.evcnt" class="form-control" name="events[@ViewBag.evcnt].sourcePlayer">
                                                    @foreach (var player in ViewBag.sourceTeam)
                                                    {
                                                        <option value="@player.Value" @if (player.Value == evnt.sourcePlayer.ToString()) { @Html.Raw("selected") ; }>@player.Text</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="resselect_events_@ViewBag.evcnt">Hod na zranění</label>
                                                <select id="resselect_events_@ViewBag.evcnt" class="form-control" name="events[@ViewBag.evcnt].result">
                                                    @foreach (var result in CLTWebUI.Models.Match.MatchEventModel.CasualtyResult)
                                                    {
                                                        <option value="@result.Key" @if (result.Key == evnt.result) { @Html.Raw("selected")  ; }>@result.Value</option>
                                                    }
                                                </select>
                                                <input type="hidden" name="events[@ViewBag.evcnt].eventNo" value="@Model.events[ViewBag.evcnt].eventNo" />
                                                <input type="hidden" name="events[@ViewBag.evcnt].type" value="@Model.events[ViewBag.evcnt].type" />
                                                <input type="hidden" name="events[@ViewBag.evcnt].sourcePlayerTeam" value="@Model.events[ViewBag.evcnt].sourcePlayerTeam" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            ViewBag.evcnt++;
                        }
                    }
                </div>
                @Html.HiddenFor(m => m.fixtureid, new { @Value = Model.fixture.ID})
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" id="addEventButtonLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Událost: @Model.fixture.Teams.Name
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="addEventButtonLabel">
                            <li><a href="@Url.Action("AddMatchEventForm","Match", new { etype = CLT.Data.MatchEventsTypes.Touchdown, fixtureid = Model.fixture.ID, teamid = Model.fixture.Team1})" data-toggle="eventajax" data-target="#events">Touchdown</a></li>
                            <li><a href="@Url.Action("AddMatchEventForm","Match", new { etype = CLT.Data.MatchEventsTypes.Casualty, fixtureid = Model.fixture.ID, teamid = Model.fixture.Team1})" data-toggle="eventajax" data-target="#events">Casualty</a></li>
                            <li><a href="@Url.Action("AddMatchEventForm","Match", new { etype = CLT.Data.MatchEventsTypes.Completion, fixtureid = Model.fixture.ID, teamid = Model.fixture.Team1})" data-toggle="eventajax" data-target="#events">Completion</a></li>
                            <li><a href="@Url.Action("AddMatchEventForm","Match", new { etype = CLT.Data.MatchEventsTypes.Interception, fixtureid = Model.fixture.ID, teamid = Model.fixture.Team1})" data-toggle="eventajax" data-target="#events">Interception</a></li>
                            <li><a href="@Url.Action("AddMatchEventForm","Match", new { etype = CLT.Data.MatchEventsTypes.Injury, fixtureid = Model.fixture.ID, teamid = Model.fixture.Team1})" data-toggle="eventajax" data-target="#events">Injury</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" id="addEventButtonLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Událost: @Model.fixture.Teams1.Name
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="addEventButtonLabel">
                            <li><a href="@Url.Action("AddMatchEventForm","Match", new { etype = CLT.Data.MatchEventsTypes.Touchdown, fixtureid = Model.fixture.ID, teamid = Model.fixture.Team2})" data-toggle="eventajax" data-target="#events">Touchdown</a></li>
                            <li><a href="@Url.Action("AddMatchEventForm","Match", new { etype = CLT.Data.MatchEventsTypes.Casualty, fixtureid = Model.fixture.ID, teamid = Model.fixture.Team2})" data-toggle="eventajax" data-target="#events">Casualty</a></li>
                            <li><a href="@Url.Action("AddMatchEventForm","Match", new { etype = CLT.Data.MatchEventsTypes.Completion, fixtureid = Model.fixture.ID, teamid = Model.fixture.Team2})" data-toggle="eventajax" data-target="#events">Completion</a></li>
                            <li><a href="@Url.Action("AddMatchEventForm","Match", new { etype = CLT.Data.MatchEventsTypes.Interception, fixtureid = Model.fixture.ID, teamid = Model.fixture.Team2})" data-toggle="eventajax" data-target="#events">Interception</a></li>
                            <li><a href="@Url.Action("AddMatchEventForm","Match", new { etype = CLT.Data.MatchEventsTypes.Injury, fixtureid = Model.fixture.ID, teamid = Model.fixture.Team2})" data-toggle="eventajax" data-target="#events">Injury</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary">Uložit</button>
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    var $eventNo = @ViewBag.evcnt;
    $('[data-toggle="eventajax"]').click(function (e) {
            var $this = $(this),
            loadurl = $this.attr('href') + "&order=" + $eventNo,
            targ = $this.attr('data-target');
        $.get(loadurl, function (data) {
            $(targ).html($(targ).html() + data);
            });
        $eventNo++;
            //$this.tab('show');
            return false;
        });
        function cancelEvent(eventNo) {
            var event = $("#event_" + eventNo);
    var evCancel = $("#cancel_event_" + eventNo);
        event.hide();
    evCancel.val(true);
    }
</script>