@model CLTWebUI.Models.Team.TeamDetailViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailForPrint</title>
    @Styles.RenderFormat(@"<link href=""{0}""
                             rel=""stylesheet""
                             media=""all"" />",
                      "~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body style="font-size: 100%;" onload="window.print()">
    <div style="width: 97%; margin-left: 15px;">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding-top: 3px; padding-bottom: 3px;"><b>@Model.Team.Name</b></div>
            <div class="panel-body" style="padding-top: 3px; padding-bottom: 3px;">
                <div class="row">
                    <div class="col-xs-2">Vlastník: @Model.Team.Users.Name</div>
                    <div class="col-xs-2">Rasa: @Model.Team.Race</div>
                    <div class="col-xs-2">Team Value: @Model.Team.Value</div>
                    <div class="col-xs-2">Treasury: @Model.Team.Treasury</div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row">
                    <div class="col-xs-2">Rerolls: @Model.Team.Rerolls</div>
                    <div class="col-xs-2">Fan factor: @Model.Team.Fanfactor</div>
                    <div class="col-xs-2">Assist. coaches: @Model.Team.Asscoaches</div>
                    <div class="col-xs-2">Cheerleaders: @Model.Team.Cheerleaders</div>
                    <div class="col-xs-2">
                        <span>Apothecary: </span>@if (Model.Team.Apothecary == 1)
                        {<span class="glyphicon glyphicon-ok label label-success"> </span>}
                    </div>
                    <div class="col-xs-2"></div>
                </div>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item" style="background-color: #f5f5f5; padding-top: 3px; padding-bottom: 3px;">
                <div class="row"><div class="col-xs-2"><b>Seznam hráčů</b></div></div>
                <div class="row ">
                    <div class="col-xs-2">Jméno</div>
                    <div class="col-xs-1">Pozice</div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-1">MA</div>
                                    <div class="col-xs-1">ST</div>
                                    <div class="col-xs-1">AG</div>
                                    <div class="col-xs-1">AV</div>
                                    <div class="col-xs-1">INT</div>
                                    <div class="col-xs-1">CMP</div>
                                    <div class="col-xs-1">TD</div>
                                    <div class="col-xs-1">CAS</div>
                                    <div class="col-xs-1">KIL</div>
                                    <div class="col-xs-1">SPP</div>
                                    <div class="col-xs-1">MNG</div>
                                    <div class="col-xs-1">NI</div>
                                </div>
                            </div>
                            <div class="col-xs-2">Value</div>
                        </div>
                    </div>
                    <div class="col-xs-3">Skilly</div>
                </div>
            </li>
            @foreach (var player in Model.Team.Players)
            {
                if (player.Status == CLT.Data.Status.Active)
                {
                    <li class="list-group-item" style="padding-top: 3px; padding-bottom: 3px;">
                        <div class="row ">
                            <div class="col-xs-2">
                                <span>@player.Name</span>
                            </div>
                            <div class="col-xs-1">@player.PlayerTypes.Name</div>
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <div class="row">
                                            <div class="col-xs-1">@player.MA</div>
                                            <div class="col-xs-1">@player.ST</div>
                                            <div class="col-xs-1">@player.AG</div>
                                            <div class="col-xs-1">@player.AV</div>
                                            <div class="col-xs-1">@player.INT</div>
                                            <div class="col-xs-1">@player.COMP</div>
                                            <div class="col-xs-1">@player.TD</div>
                                            <div class="col-xs-1">@player.CAS</div>
                                            <div class="col-xs-1">@player.Kills</div>
                                            <div class="col-xs-1">@player.SPP</div>
                                            <div class="col-xs-1">@if (player.MNG == 1) { <span>x</span>}</div>
                                            <div class="col-xs-1">@if (player.NI == 1){ <span>x</span>}</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">@player.Value</div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                @{ int i = 0;}
                                @foreach (var skill in player.PlayerSkills)
                                {
                                    if (i > 0)
                                    {<span>, </span>};
                                    @skill.Skill
                                    i++;
                                }
                            </div>
                        </div>
                    </li>
                                        }
                                    }
        </ul>
    </div>
</body>
</html>
