@model CLTWebUI.Models.Team.TeamListViewModel
@{ 
    ViewBag.Title = "Detail skupiny";
}

<h2>Soutěž: @Model.group.Competitions.Name</h2>
<h3>Skupina: @Model.group.Name</h3>
<h4><a href="#teamlist" data-toggle="collapse" aria-expanded="false" aria-controls="teamlist">Týmy</a></h4>
<ul class="list-group collapse.in" id="teamlist">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-1">#</div>
            <div class="col-md-4">Jméno týmu</div>
            <div class="col-md-4">Vlastník</div>
            <div class="col-md-3"></div>
        </div>
    </li>
    @{int i = 1;}
    @foreach(var team in Model.teams)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-1">@i</div>
                <div class="col-md-4">@Html.ActionLink((string)team.Name, "Detail", "Team", new { teamid = team.ID }, null)</div>
                <div class="col-md-4">@team.Users.Name</div>
                <div class="col-md-3"></div>
            </div>
        </li>
        i++;
    }
</ul>
<h4><a href="#matchlist" data-toggle="collapse" aria-expanded="false" aria-controls="matchlist">Zápasy</a></h4>
<div class="collapse" id="matchlist">
    @if (Model.fixtures != null)
    {
        foreach (var fgroup in Model.fixtures)
        {
            <ul class="list-group">
                <li class="list-group-item"><b>Kolo: @fgroup.Key</b></li>
                @foreach (var fixture in fgroup)
                {
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2">@fixture.Teams.Name</div><div class="col-md-1"> vs </div><div class="col-md-2"> @fixture.Teams1.Name</div>
                        </div>
                    </li>
                }
            </ul>
        }
    }
</div>    
